scikit-build>=0.10.0
# cmake>=3.16.3
appdirs==1.4.3
toposort>=1.5
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib>=0.4.0
gunicorn==19.9.0
Cython==0.29.7
# WINDOWS: REMOVE and USE "conda install -c conda-forge python-blosc" (install "gitforwindows", then open terminal using "Run as Administrator")
blosc>=1.8.1
matplotlib>=3.0.3
webdavclient==1.0.8
# May be troublesome in generating Windows executable
owlready2==0.23
pykml==0.1.3
geojson>=2.4.1
nbformat>=5.0.7
attrs>=19.3.0
Flask>=1.0.2
Flask_Session>=0.3.1
Flask_Cors==3.0.3
Werkzeug==0.15.5  # >=
requests==2.21.0  # >=Fe
requests_cache==0.4.13
pycurl>=7.43.0.6
SQLAlchemy>=1.3.3
redis>=2.10.6
pyparsing>=2.2.0
numpy>=1.16.0
pandas>=1.0.3
pandas_datareader>=0.9.0
pandaSDMX==0.9
sdmx>=0.2.10
regex>=2017.11.9
chardet>=3.0.4
anytree>=2.2.2
networkx>=2.2
multidict>=3.3.2
xmltodict>=0.11.0
Pint>=0.8.1
xlrd==1.1.0
#openpyxl==3.0.7  # TODO - Needed to work with NIS-frontend - Convert to the latest version, only 2.4.8 works...
openpyxl>=2.4.8
xlsxwriter==1.0.4
lxml==4.6.2
jsonpickle==1.2
dotted>=0.1.8 # <- Dotted notation: !!Fantastic!!
NamedAtomicLock==1.1.3
# aadict>=0.2.3
# uncertainties>=3.1.2
# cubes==1.1
# pyarrow==1.0.0
# typing>=3.6.2
# geopandas==0.4.1
# python_magic>=0.4.13  # To be removed, it is used only by the Magic Box file type detection
# sympy>=1.1.1
# brightway2==2.3
# psycopg2==2.7.3.2
# celery>=4.3.0
